body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: hsl(0, 35%, 94%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
   
}

h1 {
    text-align: center;
    color: #4f3737;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"]{
    flex: 1; /* Take up the remaining space */
    padding: 10px;
   width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="time"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #362a4a;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #8b529e;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #25283a;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.custom-checkbox::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: #25283a;
    border-radius: 50%;
    display: none;
}

.checkbox-container input[type="checkbox"]:checked + .custom-checkbox::after {
    display: block;
}

label {
    color: #333;
}

.todo-item {
    display: flex;
    align-items: center;
}


.date-item {
    margin-left: auto;
    color: #666;
    font-size: 14px;
}

.time-item {
    margin-left: 10px;
    color: #666;
    font-size: 14px;
}

.delete-btn {
    margin-left: auto;
    margin-right: 2px;
    background-color: #ff4444;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.delete-btn:hover {
    background-color: #cc0000;
}
